@page {
    size: A4;
    margin: 1.2cm;

    @top-left {
        content: string(chapter);
    }

    @bottom-right {
        font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
        content: "" counter(page) "/" counter(pages);
    }
}
.toc {
    margin-left: 0;
    padding-left: 0;
}
.toc a,
.toc a:visited{
    color: black;
    text-decoration: none;
}

.title-page{
    text-align: center!important;
    padding-top: 7em;
}
.title-page-title {
    padding-top: 7em;
    font-size: 2em;
}

.title-page-subtitle {
    padding-top: 1em;
    font-size: 1.5em;
}

.title-page-details {
    padding-top: 25em;
}

h1 {
    page-break-before: always;
}

p {
    hyphens: auto;
}

.page_number::after {
    content: leader(".") target-counter(attr(href), page);
}

/* TODO: This ain't a pretty solution -
but checkbox hacks do not
work with the currently generated html*/
input[type="checkbox"]{
    display: none;
}
